.git
.dart_tool
.idea
.vscode
build
.pytest_cache
backend/symmetry/.pytest_cache
backend/symmetry/__pycache__
backend/symmetry/app/__pycache__
backend/symmetry/app/api/__pycache__
backend/symmetry/app/api/routes/__pycache__
backend/symmetry/app/core/__pycache__
backend/symmetry/app/db/__pycache__
backend/symmetry/app/schemas/__pycache__
backend/symmetry/app/services/__pycache__
backend/symmetry/app/workers/__pycache__
backend/symmetry/tests/__pycache__
backend/symmetry/models
backend/symmetry/logs
backend/symmetry/.env
deploy/web
